.container {
  margin-bottom: 30px;
}

.avgScore {
  path {
    shape-rendering: crispEdges;
    stroke: #dee2e6;
    stroke-dasharray: 4, 1;
  }

  text {
    fill: #aaa;
    font-size: 10px;
  }
}

.xAxis {
  text {
    text-anchor: start;
    transform: translate(3px, -10px);
  }
}

.yAxis {
  text {
    text-anchor: start;
    transform: translate(10px, -8px);
  }
}
