.container {
  margin-bottom: 30px;
}

.yAxis {
  text {
    text-anchor: start;
    transform: translate(10px, -8px);
  }
}

.legend,
.xAxis,
.yAxis {
  text {
    font-size: 14px;
  }
}

.yAxisLines {
  line {
    stroke: rgba(0, 0, 0, 0.05);
  }

  path, text {
    display: none;
  }
}
