.index-page {
  .jumbotron {
    border-radius: 0;
  }

  .content-tabs {
    margin-bottom: 20px;
  }

  .round-table {
    td, th {
      text-align: center,
    }

    .player-name {
      text-align: left;
      width: 33%;
    }
  }
}
