.sortable {
  cursor: pointer;

  &-arrow {
    font-size: 85%;
  }
}

.best-score {
  background-color: yellow;
}

.trending-up {
  color: #ffcccc;
}

.trending-down {
  color: #ccffdd;
}

.avg-score-explanation {
  color: gray;
  font-style: italic;
}

// https://stackoverflow.com/a/60660207
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #fff;
    background-color: #000;
    width: fit-content;
    padding: 3px;
    z-index: 100;
  }
}
