.arrow {
  font-size: 85%;
}

.sortable {
  cursor: pointer;
}

.bestScore {
  background-color: #ffffbb;
}

.trendingUp {
  color: #ff4040;
}

.trendingDown {
  color: #4caf50;
}

.avgScoreExplanation {
  color: #808080;
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: 10px;
}
