.arrow {
  font-size: 85%;
}

.sortable {
  cursor: pointer;
}

.best-score {
  background-color: #ffffbb;
}

.trending-up {
  color: #ff4040;
}

.trending-down {
  color: #4caf50;
}

.avg-score-explanation {
  color: #808080;
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: 10px;
}
